body {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
  }
  .Navbar {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin: 3%;
    gap: 50px;
  }
  .Navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
  }
  .images {
    background-image: url(images/Group25.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 1%;
  }
  .bakeli {
    background-color: white;
    border-radius: 25px;
    margin-left: 45%;
    width: 165px;
    margin-top: 120px;
  }
  h1 {
    text-align: center;
    margin-left: 36%;
    padding: 30px;
    background-color: rgba(105, 105, 105, 0.753);
    color: white;
    height: 30px;
    margin-top: 35px;
    width: 29%;
    font-size: 29px;
    font-weight: 400;
  }
  p {
    font-size: 20px;
    color: white;
   text-align: center;
  }
  .text2 {
    text-align: center;
  }
  .text8 {
    display: flex;
    text-align: center;
  
  }
  .title2{
    color: black;
    bottom: 80px;
    position: relative;
    margin: auto;
    gap: 15px;
  }
  .images2 img {
    width: 50px;
    height: 50px;
    padding: 55px;
    border-radius: 50%;
    border: 1px solid teal;
  }
  .images3 img {
    width: 50px;
    height: 50px;
    padding: 53px;
    border: 1px solid teal;
    border-radius: 50%;
  }
  .images4 img {
    width: 50px;
    height: 49px;
    padding: 55px;
    border: 1px solid teal;
    border-radius: 50%;
  }
  h2 {
    font-size: 19px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h3 {
    font-size: 19px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h4 {
    font-size: 19px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .title1 {
    font-size: 18px;
    text-align: center;
  }
  .img-container {
    display: flex;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    gap: 120px;
  }
  h5 {
    display: flex;
    text-align: center;
    font-size: 45px;
    justify-content: center;
  }
  h6 {
    text-align: center;
    font-size: 43px;
  }
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 50px;
  }
  .left-side {
    flex-direction: column;
     width: 35%;
  }
  .right-side {
    flex-direction: column;
    width: 35%; 
  }
  .container .progress-box {
    width: 100%;
    height: 60px;
    margin: 20px 0;
  }
  .progress-box .title {
    display: "inline-block";
    font-size: 16px;
    font-weight: 600;
  }
  .progress-box .progress-bg {
    width: 100%;
    height: 16px;
    background-color: #d3d3d3;
    border-radius: 20px;
  }
  .pratique-bg {
    width: 100%;
    height: 15px;
    background-color: #a3c1ad;
    border-radius: 20px;
    animation-delay: 0.1s;
  }
  .bakelistes.inseres-bg {
    width: 80%;
    height: 15px;
    background-color: #a3c1ad;
    border-radius: 20px;
    animation-delay: 0.2s;
  }
  .opportunites-bg {
    width: 90%;
    height: 15px;
    background-color: #a3c1ad;
    border-radius: 20px;
    animation-delay: 0.3s;
  }
  .bg {
    width: 75%;
    height: 15px;
    background-color: #a3c1ad;
    border-radius: 20px;
    animation-delay: 0.4s;
  }
  .meta {
    display: flex;
  }
  .title {
    margin-top: -21px;
    float: left;
    margin: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  .progress-bar {
    opacity: 0;
    animation: progress 2s ease-in-out forwards;
  }
  .item-value {
    margin-top: -19px;
    margin-left: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      opacity: 100;
    }
  }
  .text3 {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a3c1ad;
    color: white;
    height: 915px;
  }
  .images5{
    bottom: 26px;
    position: relative;
    text-align: center;
  }
  .images5 img{
    justify-content: center;
    width: 334px;
  }
  .notreteam {
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .images6 img {
    text-align: center; 
  }
  .images6 {
    display: flex;
    gap: 25px;
    margin-top: 70px;
    justify-content: center;
  }
  .imgindiv:hover {
    transform: scale(
      1.06
    ) /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .text2 {
    text-align: center;
  }
  .bakelischool {
     background-color: rgba(169, 169, 169, 0.123); 
    text-align: center;
    bottom: 5px;
    height: 230px;
    position: relative;
  }
  h5 {
    padding: 60px;
  }
  .logo {
    display: flex;
    align-items: center;
    padding-top: 12%;
    justify-content: center;
    gap: 30px;
    text-align: center;
  }
  .text4 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 4%;
    font-size: 14px;
  }
  .text5 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
  }
  .text6 {
    text-align: center;
    justify-content: center;
    margin-top: 6%;
    font-size: 28px;
    font-weight: 600;
    padding-top: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgba(128, 128, 128, 0.301);
    height: 430px;
  }
  .container1 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 115px;
  }
  .left-side1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 17px;
    margin-top: 50px;
    gap: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .left-side2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    gap: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .right-side1 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    gap: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .right-side2 {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    gap: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .text7 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
  }
  .title3 {
    display: flex;
    justify-content: center;
    padding-top: 70%;
    font-size: 13px;
  }
  @media screen  and (max-width: 768px) {
    /* Styles pour cette Media Queries */
    body{
      border: 1px solid;
    }
    .Navbar {
      display: flex;
      gap: 10px;
      padding: 20px;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      flex-direction: column;
    }
    .container1{
      flex-direction: column;
      width: 100%;
    }
    .images5{
      flex-direction: column;
      bottom: 5px;
      position: relative;
    }
    .images5 img{
      width: 100%;
    }
    .t3 {
      height: 700px;
      text-align: center;
    }
    .images6 {
      display: flex;
      gap: 40px;
      justify-content: center;
      flex-direction: column;
      height: 700px;
      margin-top: 750px;
    }
    .images6 img{
      width: 100%;
    }
    .bakeli img{
      width: 100px;
    }
    .text3{
      bottom: 80px;
      position: relative;
    }
    .bakeli{
      padding: 10px;
      margin-left: 30%;
      width: 100px;
      margin-top: 50px;
    }
    .text8{
      flex-direction: column;
      gap: 20px;
    }
    .images {
      height: 500px;
      padding: 20px;
    }
    h1 {
      margin-left: 20%;
      padding: 10px;
      height: 30px;
      width: 46%;
      font-size: 14px;
    }
    p {
      text-align: center;
    }
    .img-container {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    .text7{
      bottom: 430px;
      position: relative;
    }
    .title2{
      text-align: center;
    }
     .container {
      margin: auto;
      text-align: center;
      flex-direction: column; 
    }
    .left-side {
      margin: auto;
      width: 40%;  
      text-align: center;
    }
    .title3{
      bottom: 96%;
      position: relative;
    }
    .right-side {
      margin: auto;
      text-align: center;
      width: 40%;
    }
    .title {
      float: left;
      margin-top: -9px;
      margin: left;
      font-family: Arial, Helvetica, sans-serif;
    }
    .item-value{
      margin-top: -9%;;
    }
    footer {
      margin-top: 87rem;
    }
    .left-side2{
      bottom: 150px;
      position: relative;
    }
    .right-side1{
      bottom: 290px;
      position: relative;
    }
    .right-side2{
      bottom: 430px;
      position: relative;
    }
  }